@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');
.inner h4   { font-family: 'Slabo 27px', serif; }
blockquote  { font-family: 'Slabo 27px', serif; }

.slideshow-container {
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    background-color: rgba(0,0,0,0.8);
    font-weight: bold;
    font-size: 1.2em;
    transition: 0.6s ease;
    user-select: none;
}

.prev { border-radius: 0 1em 1em 0; }

/* Position the "next button" to the right */
.next { border-radius: 1em 0 0 1em; right: 0; }




/* The dots/bullets/indicators */
.carousel-dots {
    padding-top: 11px;
    padding-bottom: 11px;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.active, .dot:hover { background-color: #717171; }


.mySlides { display: none; position: relative; }

.mySlides {
    -webkit-transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
}

.mySlides {
    min-height: 52em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.mySlides-1 { background-image: url("../img/ancient-architectural-design-architecture-2166553.jpg"); }
.mySlides-2 { background-image: url("../img/backlit-bali-fog-2166643.jpg"); }
.mySlides-3 { background-image: url("../img/clouds-daylight-environment-2082949.jpg"); }



.inner {
    color: white;
    background-color: rgba(0,0,0,0.8);

    max-width: 26em;
    padding: 3em;


    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;
}



@media screen and (max-width: 1200px) and (orientation: landscape) {
    .mySlides { min-height: 31em; }
}


@media screen and (max-width: 992px) {
    .mySlides { min-height: 51em; }
}


@media screen and (max-width: 768px) {
    .mySlides { min-height: 31em; }

    .inner {
        top: 100%;
        transform: translateY(-100%);
        left: 0;
        right: 0;
        max-width: 100%;
        padding-top: 1em;
        padding-bottom: 0;
    }

    .inner h4 {
        margin: 0;
        padding: 0;
        font-size: 1.5em;
    }
}
