/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999999;
    top: 0;

    background-image: url('../img/camper-campervan-car-54278.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
}


/* Position the content inside the overlay */
.overlay-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);


    width: 100%;
    text-align: center;
}

/* The navigation links inside the overlay */
.overlay p {
    padding: 8px;
    text-decoration: none;
    font-size: 4em;
    font-weight: bold;
    color: white;
    display: block;
    transition: all 0.5s ease-in-out;
}



/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-width: 992px) {
    .overlay p {
        font-size: 3em;
    }
}

@media screen and (max-width: 768px) {
    .overlay p { font-size: 2em; }
}

@media screen and (max-width: 480px) {
    .overlay p { font-size: 1em; }
}
