/* Correct Safari/iPhone ignores some font-size settings. */
body { -webkit-text-size-adjust: none; }


/*
                            GENERAL STYLES
------------------------------------------------------------------------------*/
* { box-sizing: border-box; }
html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.6s ease;
}
a  { text-decoration: none; color: #e7e7e7;  }
p  { line-height: 1.5; }
ul { list-style: none; }
i  { font-size: 2em; color: #ccc; }
h1 {
    color: white;
    font-size: 4em;
    font-weight: 500;
    text-align: center;
}
h2 {
    color: white;
    font-size: 2.25em;
    font-weight: 400;
    text-align: center;
}
h3 {
    margin-top: 11px;
    margin-bottom: 11px;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 2px solid #333;
    padding: .5em 2em;
    color: #333;
}
h4 {
    font-size: 2em;
    font-weight: 100;
}


/*
Custom classes for styling
------------------------------------------------------------------------------*/
.text-center { text-align: center; }
.vertical-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.justify-content-center { justify-content: center; }
.justify-content-space-between { justify-content: space-between; }

span.nobreak {
    white-space: nowrap;
}

/*
Flexbox CSS3 Layout & Grid
------------------------------------------------------------------------------*/
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/*
Gallery images
------------------------------------------------------------------------------*/
.gallery-container { justify-content: center; }

.imgBox {
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.imgBox:hover { opacity: 0.3; }



/*
Small components
------------------------------------------------------------------------------*/
.hiremeBtn {
    padding: 0 0 0 40px;
    display: flex;
    cursor: pointer;
}

.hireme {
    background-color: #FEDC2A;
    color: white;
    font-weight: 800;
    padding: 0.5em 1em;

    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}



/*
                        HEADER & NAVIGATION
------------------------------------------------------------------------------*/
.site-header {
    background-color: #2a2a2a;
    height: 3.7em;

}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}


/*
Left side of the header
------------------------------------------------------------------------------*/
.leftSideNav {
    height: 3.7em;

    display: flex;
    flex-direction: row;
}
.leftSideNav-item { height: 3.7em; }
.imgLogo {
    font-size: 2.6em;
    padding-left: 0.5em;
    color: white;
}
.propLogo {
    color: #fff;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    padding-left: 1em;
}


/*
Navigation
----------------------------------------------------------------------------  */
.sitenav-wrap {
    color: #ccc;
    background-color: #2a2a2a;
    height: 3.7em;
    line-height: 3.7em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.siteNav {
    display: flex;
    margin: 0;
    padding: 0;
    z-index: 99;
}

.siteNav li {
    font-weight: 800;
    text-transform: uppercase;
    padding: 0 1em;
    cursor: pointer;
    color: #e7e7e7;
}
.siteNav li:hover > a {
    color: white;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
}



/*
SUB LIST
----------------------------------------------------------------------------- */
.sub-siteNav {
    position: absolute;
    left: 0;
    background-color: #2a2a2a;
    width: 14em;
    line-height: 4;
    padding: 0;
    transition: all .6s ease;

    visibility: hidden;
    opacity: 0;
}

.sub-siteNav li {
    font-weight: 600;
}




/*
                                SECTION
------------------------------------------------------------------------------*/
.middle-support {
    position: relative;
    text-align: center;
    background: #0d0d09;

    background-image: url('../img/automobile-car-daylight-2219433.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    padding: 2em 0;
}

.middle-support h3 {
    color: #fff;
    border-color: #fff;
}

.middle-support h2 {
    font-size: 3em;
}

.section-container {
    margin: 0 auto;
    padding: 4em 5em;
    position: relative;
}

.content {
    background: whitesmoke;
    margin-top: 3em;
    padding: 2em;
    margin-left: 1em;
    margin-right: 1em;
}

.content h4 {
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;

    margin-top: 3em;
    margin-bottom: 1.5em;
}

.content i {
    font-size: 6em;
    color: black;
}

.innerChild p {
    font-size: 0.9em;
}




.middle-header {
    min-height: 40em;
    position: relative;
    background: #000;
    background-image: url('../img/agriculture-countryside-cropland-2131899.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.mTitle {
    position: absolute;
    top: 9em;
    left: 0;
    right: 0;
    z-index: 1;
}

.gallery-container { min-height: 40em; }
.middle-slideshow { position: relative; }
.middle-contact {
    height: 24em;
    background-color: #fff;
    color: #ccc;
}

.site-footer {
    background: #2a2a2a;
    padding-bottom: 2em;
}

.copyright { padding-left: 56px; }
.copyright-wrapper p {
    color: #ccc;
    font-size: 12px;
    font-weight: 600;
}

.footer-social-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
}

.backToTop {
    padding: 0 1em;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}

.footer-links-container {
    padding: 0 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.footer-links-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}




.social li { padding: 0 .3em; }

.copyright {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}



/*
Responsive Website Breakpoints
------------------------------------------------------------------------------*/
@media screen and (max-width: 1199px) {
    .middle-support h2 {
        font-size: 2em;
    }
    .topHireMe          { display: none; }
}
@media screen and (max-width: 991px) {
    .middle-header      { min-height: 25em; }
    .gallery-container  { min-height: 25em;}

    .mTitle             { top: 6em; }
    h1                  { font-size: 2.5em; }
    h2                  { font-size: 1.5em; }
}

@media screen and (max-width: 768px) {
    .mTitle { top: 7em; }
    h1      { font-size: 1.5em; }
    h2      { font-size: 1em; }
    .section-container {
        padding: 0;
    }
}

@media screen and (max-width: 480px) {
    ul                          { padding: 0; }
    .imgLogo                    { font-size: 2em; }
    .propLogo                   { font-size: 1em; }
    .hiremeBtn                  { padding: 0; }
    .copyright                  { padding: 1em; }
    .footer-links-container ul  { padding-right: 2em; }
}



/*
                Bootstrap Equal Breakpoints
------------------------------------------------------------------------------*/
/* lg (for laptops and desktops - screens equal to or greater than 1200px wide) */
@media screen and (min-width: 1200px) {
    .column-lg-5 { flex-basis: 50%; }
    .column-lg-3 { flex-basis: 30%; }
}
/* md (for small laptops - screens equal to or greater than 992px wide) */
@media screen and (min-width: 992px) {
    .column-md-10 { flex-basis: 100%; }
    .column-md-5 { flex-basis: 50%; }
    .column-md-3 { flex-basis: 30%; }
}
/* sm (for tablets - screens equal to or greater than 768px wide) */
@media screen and (min-width: 768px) {
    .column-sm-10 { flex-basis: 100%; }
    .column-sm-5 { flex-basis: 50%; }
}
/* xs (for phones - screens less than 768px wide) */
@media screen and (max-width: 767px) {
    .column-xs-10 { flex-basis: 100%; }
}
