/**
 * Correct Safari/iPhone ignores some font-size settings.
 */

body {
    -webkit-text-size-adjust: none;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.6s ease;
}
a {
    text-decoration: none;
    color: #e7e7e7;
}
p {
    line-height: 1.5;
}

h3 {
    margin-top: 11px;
    margin-bottom: 11px;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 2px solid #333;
    padding: .5em 2em;
    color: #333;
}
h4 {
    font-size: 2em;
    font-weight: 100;
}

ul {
    list-style: none;
}

i {
    font-size: 2em;
    color: #ccc;
}

.text-center {
    text-align: center;
}


.site-header {
    background-color: #2a2a2a;
    height: 3.7em;

}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.leftSideNav {
    height: 3.7em;

    display: flex;
    flex-direction: row;
}

.vertical-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 3.7em;
}

.imgLogo {
    font-size: 2.6em;
    padding-left: 0.5em;
    color: white;
}

#propLogo {
    color: rgb(249, 249, 249);
    font-weight: 900;
    font-size: 1.5em;
    text-transform: uppercase;
    padding-left: 1em;
}











/*
navigation
----------------------------------------------------------------------------  */

.sitenav-wrap {
    color: #ccc;

    background-color: #2a2a2a;


    height: 3.7em;

    line-height: 3.7em;




    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.siteNav {
    display: flex;

    margin: 0;
    padding: 0;


}


.siteNav li {
    font-size: .75em;
    font-weight: 800;
    text-transform: uppercase;
    padding: 0 1em;
    position: relative;
}
.siteNav li:hover > a {
    color: goldenrod;

    transition: all 0.6s ease-in-out;

    cursor: pointer;
}



/*
                                SUB LIST
----------------------------------------------------------------------------- */


.sub-siteNav {
    background-color: #2a2a2a;
    padding: 0;
    line-height: 4;

    opacity: 0;
    transition: all .6s ease;

    position: absolute;
    left: 0;

    width: 10em;

    visibility: hidden;
}

.sub-siteNav li {
    font-weight: 600;
    font-size: 1em;

    position: relative;
}


/* Visible Sublist */
.siteNav li:hover .sub-siteNav {
    opacity: 1;
    visibility: visible;
}


/*
                               SUB SUB LIST
----------------------------------------------------------------------------- */
.sub-sub-siteNav {
    background-color: #2a2a2a;;
    position: absolute;
    padding: 0;
    top: -1px;
    left: 120px;




    opacity: 0;
    visibility: hidden;
    transition: all .6s ease;
}

.sub-sub-siteNav li {
    width: 180px;
}

/* Visible SubSublist */
.sub-siteNav li:hover .sub-sub-siteNav { opacity: 1; visibility: visible; }







.middle-header {
    background: #000;
    min-height: 40em;

    position: relative;
}

.fullscreen-video-wrap {
    width: 100%;
    height: 100%;


    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    overflow: hidden;
}


.background-video {

}














.middle-content {
    position: relative;
}

.contact {
    height: 24em;

}



.site-footer {
    background: #2a2a2a;
    padding-bottom: 2em;
}


.copyright {
    padding-left: 56px;
}
.copyright-wrapper p {
    color: #ccc;
    font-size: 12px;
    font-weight: 600;
}

.footer-social-container {
    padding: 1em;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;


}

.backToTop {
    padding: 0 1em;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}

.footer-links-container {
    padding: 0 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.footer-links-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;


}

.hiremeBtn {
    padding: 0 0 0 40px;
    display: flex;
    cursor: pointer;
}

.hireme {
    background-color: goldenrod;
    color: white;
    font-weight: 800;
    padding: 0.5em 1em;

    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}

.social {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.social li {
    padding: 0 .3em;
}

.copyright {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
    .middle-header {
        min-height: 25em;
    }
}

@media screen and (max-width: 480px) {
    ul {
        padding: 0;
    }

    .hiremeBtn {
        padding: 0;
    }

    .copyright {
        padding: 1em;
    }


    .footer-links-container ul {
        padding-right: 2em;
    }

}
