html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.6s ease;
}
a {
    text-decoration: none;
    color: #e7e7e7;
}
p {
    line-height: 1.5;
}

h3 {
    margin-top: 11px;
    margin-bottom: 11px;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 2px solid #333;
    padding: .5em 2em;
    color: #333;
}
h4 {
    font-size: 2em;
    font-weight: 100;
}

ul {
    list-style: none;
}

i {
    font-size: 2em;
    color: #ccc;
}

.text-center {
    text-align: center;
}


.site-header {
    background-color: #2a2a2a;
    height: 3.7em;

}



.middle-header {
    background: #000;
    min-height: 40em;
}

.middle-content {
    position: relative;
}

.contact {
    height: 24em;

}


.site-footer {
    height: 25em;
    background: #2a2a2a;
}

.footer-social-container {
    padding: 1em;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.backToTop {
    padding: 0 1em;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}

.footer-links-container {
    padding: 0 1em;
}

.social, .footer-links-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.social li {
    padding: 0 .3em;
}

@media screen and (max-width: 992px) {
    .middle-header {
        min-height: 25em;
    }
}

@media screen and (max-width: 480px) {
    ul {
        padding: 0;
    }
}
