#outerContainer                                                             { width: 300px; margin: 0 auto; display: block; }
.carousel-inner                                                             { position: relative; width: 100%; overflow: hidden; }
.carousel-inner > .item > img                                               { width: 300px; margin: auto; }
.carousel-inner > .item                                                     { display: none; }
.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev { display: block; }
.carousel-inner > .next, .carousel-inner > .prev                            { position: absolute; top: 0; width: 100%; }
.carousel-inner > .item                                                     { transition: transform 1s ease; }

.carousel-inner > .item.next,
.carousel-inner > .item.active.right {
    transform: translate3d(100%, 0, 0);
}
.carousel-inner > .item.next.left,
.carousel-inner > .item.prev.right,
.carousel-inner > .item.active {
    transform: translate3d(0, 0, 0);
}
.carousel-inner > .item.prev,
.carousel-inner > .item.active.left {
    transform: translate3d(-100%, 0, 0);
}
