.zeroSlideLeft {
    animation-name: zeroSlideLeft;
    animation-timing-function: ease;
    animation-duration: 0.6s;
}


@keyframes zeroSlideLeft {
    0% {
		transform: translateX(150%);
		opacity: 0
	}
	100% {
		transform: translateX(0);
		opacity: 1
	}
}
